.elementor-kit-74 {
    --e-global-color-primary: #FA4F09;
    --e-global-color-secondary: #0B1033;
    --e-global-color-text: #0B1033B3;
    --e-global-color-accent: #FA4F09;
    --e-global-color-465d399: #6737C3;
    --e-global-color-12bea40: #FEB813;
    --e-global-color-396786d: #015BF8;
    --e-global-color-f765738: #FFFFFF;
    --e-global-color-29f38c4: #02010100;
    --e-global-color-bf4987b: #E4E4E4;
    --e-global-color-f1f09e8: #EC26D1;
    --e-global-typography-primary-font-family: "Epilogue";
    --e-global-typography-primary-font-size: 50px;
    --e-global-typography-primary-font-weight: 700;
    --e-global-typography-primary-line-height: 1em;
    --e-global-typography-secondary-font-family: "Epilogue";
    --e-global-typography-secondary-font-size: 30px;
    --e-global-typography-secondary-font-weight: 700;
    --e-global-typography-secondary-text-transform: none;
    --e-global-typography-secondary-font-style: normal;
    --e-global-typography-secondary-text-decoration: none;
    --e-global-typography-secondary-line-height: 1.2em;
    --e-global-typography-secondary-letter-spacing: -1px;
    --e-global-typography-text-font-family: "Play";
    --e-global-typography-text-font-size: 15px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-text-text-transform: none;
    --e-global-typography-text-font-style: normal;
    --e-global-typography-text-text-decoration: none;
    --e-global-typography-accent-font-family: "Epilogue";
    --e-global-typography-accent-font-size: 14px;
    --e-global-typography-accent-font-weight: 400;
    --e-global-typography-accent-text-transform: none;
    --e-global-typography-accent-font-style: normal;
    --e-global-typography-accent-text-decoration: none;
    --e-global-typography-e2aa977-font-family: "Epilogue";
    --e-global-typography-e2aa977-font-size: 27px;
    --e-global-typography-e2aa977-font-weight: 700;
    --e-global-typography-e2aa977-text-transform: none;
    --e-global-typography-e2aa977-font-style: normal;
    --e-global-typography-e2aa977-text-decoration: none;
    --e-global-typography-e2aa977-line-height: 1.3em;
    --e-global-typography-e2aa977-letter-spacing: -1px;
    --e-global-typography-a9d8edc-font-family: "Epilogue";
    --e-global-typography-a9d8edc-font-size: 22px;
    --e-global-typography-a9d8edc-font-weight: 700;
    --e-global-typography-a9d8edc-text-transform: none;
    --e-global-typography-a9d8edc-font-style: normal;
    --e-global-typography-a9d8edc-text-decoration: none;
    --e-global-typography-a9d8edc-line-height: 1.3em;
    --e-global-typography-a9d8edc-letter-spacing: -1px;
    --e-global-typography-c8a81b0-font-family: "Epilogue";
    --e-global-typography-c8a81b0-font-size: 19px;
    --e-global-typography-c8a81b0-font-weight: 700;
    --e-global-typography-c8a81b0-text-transform: none;
    --e-global-typography-c8a81b0-font-style: normal;
    --e-global-typography-c8a81b0-text-decoration: none;
    --e-global-typography-c8a81b0-line-height: 1.3em;
    --e-global-typography-c8a81b0-letter-spacing: -1px;
    --e-global-typography-efcd151-font-family: "Epilogue";
    --e-global-typography-efcd151-font-size: 16px;
    --e-global-typography-efcd151-font-weight: 700;
    --e-global-typography-efcd151-text-transform: none;
    --e-global-typography-efcd151-font-style: normal;
    --e-global-typography-efcd151-text-decoration: none;
    --e-global-typography-efcd151-line-height: 1.2em;
    --e-global-typography-efcd151-letter-spacing: -1px;
    --e-global-typography-ae2f1b4-font-family: "Play";
    --e-global-typography-ae2f1b4-font-size: 12px;
    --e-global-typography-ae2f1b4-font-weight: 400;
    --e-global-typography-ae2f1b4-text-transform: uppercase;
    --e-global-typography-ae2f1b4-font-style: normal;
    --e-global-typography-ae2f1b4-text-decoration: none;
    --e-global-typography-ae2f1b4-line-height: 1.1em;
    --e-global-typography-edb09bb-font-size: 15px;
    --e-global-typography-edb09bb-font-weight: 400;
    --e-global-typography-edb09bb-text-transform: none;
    --e-global-typography-edb09bb-font-style: italic;
    --e-global-typography-edb09bb-text-decoration: none;
    --e-global-typography-48fa4aa-font-size: 10px;
    --e-global-typography-48fa4aa-font-weight: 400;
    --e-global-typography-48fa4aa-text-transform: uppercase;
    --e-global-typography-48fa4aa-font-style: normal;
    --e-global-typography-48fa4aa-text-decoration: none;
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    text-transform: var( --e-global-typography-text-text-transform);
    font-style: var( --e-global-typography-text-font-style);
    text-decoration: var( --e-global-typography-text-text-decoration);
    background-color: var( --e-global-color-f765738);
}

.elementor-kit-74 h1 {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size);
    font-weight: var( --e-global-typography-primary-font-weight);
    line-height: var( --e-global-typography-primary-line-height);
}

.elementor-kit-74 h2 {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size);
    font-weight: var( --e-global-typography-secondary-font-weight);
    text-transform: var( --e-global-typography-secondary-text-transform);
    font-style: var( --e-global-typography-secondary-font-style);
    text-decoration: var( --e-global-typography-secondary-text-decoration);
    line-height: var( --e-global-typography-secondary-line-height);
    letter-spacing: var( --e-global-typography-secondary-letter-spacing);
}

.elementor-kit-74 h3 {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-e2aa977-font-family), Sans-serif;
    font-size: var( --e-global-typography-e2aa977-font-size);
    font-weight: var( --e-global-typography-e2aa977-font-weight);
    text-transform: var( --e-global-typography-e2aa977-text-transform);
    font-style: var( --e-global-typography-e2aa977-font-style);
    text-decoration: var( --e-global-typography-e2aa977-text-decoration);
    line-height: var( --e-global-typography-e2aa977-line-height);
    letter-spacing: var( --e-global-typography-e2aa977-letter-spacing);
    word-spacing: var( --e-global-typography-e2aa977-word-spacing);
}

.elementor-kit-74 h4 {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-a9d8edc-font-family), Sans-serif;
    font-size: var( --e-global-typography-a9d8edc-font-size);
    font-weight: var( --e-global-typography-a9d8edc-font-weight);
    text-transform: var( --e-global-typography-a9d8edc-text-transform);
    font-style: var( --e-global-typography-a9d8edc-font-style);
    text-decoration: var( --e-global-typography-a9d8edc-text-decoration);
    line-height: var( --e-global-typography-a9d8edc-line-height);
    letter-spacing: var( --e-global-typography-a9d8edc-letter-spacing);
    word-spacing: var( --e-global-typography-a9d8edc-word-spacing);
}

.elementor-kit-74 h5 {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-c8a81b0-font-family), Sans-serif;
    font-size: var( --e-global-typography-c8a81b0-font-size);
    font-weight: var( --e-global-typography-c8a81b0-font-weight);
    text-transform: var( --e-global-typography-c8a81b0-text-transform);
    font-style: var( --e-global-typography-c8a81b0-font-style);
    text-decoration: var( --e-global-typography-c8a81b0-text-decoration);
    line-height: var( --e-global-typography-c8a81b0-line-height);
    letter-spacing: var( --e-global-typography-c8a81b0-letter-spacing);
    word-spacing: var( --e-global-typography-c8a81b0-word-spacing);
}

.elementor-kit-74 h6 {
    color: var( --e-global-color-secondary);
    font-family: var( --e-global-typography-efcd151-font-family), Sans-serif;
    font-size: var( --e-global-typography-efcd151-font-size);
    font-weight: var( --e-global-typography-efcd151-font-weight);
    text-transform: var( --e-global-typography-efcd151-text-transform);
    font-style: var( --e-global-typography-efcd151-font-style);
    text-decoration: var( --e-global-typography-efcd151-text-decoration);
    line-height: var( --e-global-typography-efcd151-line-height);
    letter-spacing: var( --e-global-typography-efcd151-letter-spacing);
    word-spacing: var( --e-global-typography-efcd151-word-spacing);
}

.elementor-kit-74 button,
.elementor-kit-74 input[type="button"],
.elementor-kit-74 input[type="submit"],
.elementor-kit-74 .elementor-button {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
    text-transform: var( --e-global-typography-accent-text-transform);
    font-style: var( --e-global-typography-accent-font-style);
    text-decoration: var( --e-global-typography-accent-text-decoration);
    color: var( --e-global-color-f765738);
    background-color: var( --e-global-color-primary);
    border-radius: 5px 5px 5px 5px;
    padding: 12px 20px 8px 20px;
}

.elementor-kit-74 button:hover,
.elementor-kit-74 button:focus,
.elementor-kit-74 input[type="button"]:hover,
.elementor-kit-74 input[type="button"]:focus,
.elementor-kit-74 input[type="submit"]:hover,
.elementor-kit-74 input[type="submit"]:focus,
.elementor-kit-74 .elementor-button:hover,
.elementor-kit-74 .elementor-button:focus {
    color: var( --e-global-color-secondary);
    background-color: var( --e-global-color-12bea40);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1200px;
}

.e-con {
    --container-max-width: 1200px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 15px;
}

.elementor-element {
    --widgets-spacing: 15px 15px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.elementor-kit-74 e-page-transition {
    background-color: #FFBC7D;
}

@media(max-width: 1024px) {
    .elementor-kit-74 {
        --e-global-typography-primary-font-size: 40px;
        --e-global-typography-accent-font-size: 12px;
        --e-global-typography-c8a81b0-font-size: 17px;
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-kit-74 h1 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
    }
    .elementor-kit-74 h2 {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
        letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    }
    .elementor-kit-74 h3 {
        font-size: var( --e-global-typography-e2aa977-font-size);
        line-height: var( --e-global-typography-e2aa977-line-height);
        letter-spacing: var( --e-global-typography-e2aa977-letter-spacing);
        word-spacing: var( --e-global-typography-e2aa977-word-spacing);
    }
    .elementor-kit-74 h4 {
        font-size: var( --e-global-typography-a9d8edc-font-size);
        line-height: var( --e-global-typography-a9d8edc-line-height);
        letter-spacing: var( --e-global-typography-a9d8edc-letter-spacing);
        word-spacing: var( --e-global-typography-a9d8edc-word-spacing);
    }
    .elementor-kit-74 h5 {
        font-size: var( --e-global-typography-c8a81b0-font-size);
        line-height: var( --e-global-typography-c8a81b0-line-height);
        letter-spacing: var( --e-global-typography-c8a81b0-letter-spacing);
        word-spacing: var( --e-global-typography-c8a81b0-word-spacing);
    }
    .elementor-kit-74 h6 {
        font-size: var( --e-global-typography-efcd151-font-size);
        line-height: var( --e-global-typography-efcd151-line-height);
        letter-spacing: var( --e-global-typography-efcd151-letter-spacing);
        word-spacing: var( --e-global-typography-efcd151-word-spacing);
    }
    .elementor-kit-74 button,
    .elementor-kit-74 input[type="button"],
    .elementor-kit-74 input[type="submit"],
    .elementor-kit-74 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
        padding: 12px 20px 10px 20px;
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width: 767px) {
    .elementor-kit-74 {
        --e-global-typography-primary-font-size: 35px;
        --e-global-typography-secondary-font-size: 28px;
        --e-global-typography-c8a81b0-font-size: 16px;
        --e-global-typography-efcd151-font-size: 15px;
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-kit-74 h1 {
        font-size: var( --e-global-typography-primary-font-size);
        line-height: var( --e-global-typography-primary-line-height);
    }
    .elementor-kit-74 h2 {
        font-size: var( --e-global-typography-secondary-font-size);
        line-height: var( --e-global-typography-secondary-line-height);
        letter-spacing: var( --e-global-typography-secondary-letter-spacing);
    }
    .elementor-kit-74 h3 {
        font-size: var( --e-global-typography-e2aa977-font-size);
        line-height: var( --e-global-typography-e2aa977-line-height);
        letter-spacing: var( --e-global-typography-e2aa977-letter-spacing);
        word-spacing: var( --e-global-typography-e2aa977-word-spacing);
    }
    .elementor-kit-74 h4 {
        font-size: var( --e-global-typography-a9d8edc-font-size);
        line-height: var( --e-global-typography-a9d8edc-line-height);
        letter-spacing: var( --e-global-typography-a9d8edc-letter-spacing);
        word-spacing: var( --e-global-typography-a9d8edc-word-spacing);
    }
    .elementor-kit-74 h5 {
        font-size: var( --e-global-typography-c8a81b0-font-size);
        line-height: var( --e-global-typography-c8a81b0-line-height);
        letter-spacing: var( --e-global-typography-c8a81b0-letter-spacing);
        word-spacing: var( --e-global-typography-c8a81b0-word-spacing);
    }
    .elementor-kit-74 h6 {
        font-size: var( --e-global-typography-efcd151-font-size);
        line-height: var( --e-global-typography-efcd151-line-height);
        letter-spacing: var( --e-global-typography-efcd151-letter-spacing);
        word-spacing: var( --e-global-typography-efcd151-word-spacing);
    }
    .elementor-kit-74 button,
    .elementor-kit-74 input[type="button"],
    .elementor-kit-74 input[type="submit"],
    .elementor-kit-74 .elementor-button {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}